/* Variables */
:root {
    --corner: 6px;
    --border: 5px;
    --vscode-sash-size: var(--border);
    --shadow-color: 0deg 4% 53%;
    --shadow-elevation:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.38), 0.4px 0.9px 1.1px -1.2px hsl(var(--shadow-color) / 0.38),
        1px 2.1px 2.6px -2.5px hsl(var(--shadow-color) / 0.38);
    --shadow-inverted:
        0.3px -0.6px 0.8px hsl(var(--shadow-color) / 0.41), 0.5px -1.1px 1.4px -1.2px hsl(var(--shadow-color) / 0.41),
        1.4px -2.9px 3.6px -2.5px hsl(var(--shadow-color) / 0.41);
    --semi-opaque-dark: rgba(5, 5, 5, 0.6);
    --semi-opaque-dark-secondary: rgba(5, 5, 5, 0.9);
    --semi-opaque-dark-tertiary: rgba(5, 5, 5, 0.4);
    --semi-opaque-light: rgba(255, 255, 255, 0.5);
    --semi-opaque-light-secondary: rgba(255, 255, 255, 0.7);
    --semi-opaque-light-tertiary: rgba(255, 255, 255, 0.3);
    --semi-opaque: var(--semi-opaque-light-secondary);
    --semi-opaque-secondary: var(--semi-opaque-light-secondary);
    --semi-opaque-tertiary: var(--semi-opaque-light-tertiary);
    --semi-opaque-text: var(--semi-opaque-dark);
    --semi-opaque-text-secondary: var(--semi-opaque-dark-secondary);
    --semi-opaque-text-tertiary: var(--semi-opaque-dark-tertiary);
    --primary-bg: #e8e3e3;
    --secondary-bg: #e8e3e3;
    --editor-bg: #efefefcc;

    --selectable-transition: background 0.25s ease-out, color 0.25s ease-out;
}

.monaco-workbench .part.editor .editor-group-container > .tabs *,
.monaco-workbench .monaco-action-bar *,
.monaco-workbench .part.statusbar * {
    transition: var(--selectable-transition);
}

/* Transparent Background */
.monaco-workbench,
.monaco-workbench .sidebar,
.monaco-workbench .auxiliarybar,
.monaco-workbench .activitybar,
.monaco-workbench .titlebar,
.monaco-workbench .monaco-list-rows,
.monaco-workbench .part.sidebar > .title,
.monaco-workbench .part.auxiliarybar > .title,
.monaco-workbench .monaco-inputbox,
.monaco-workbench .part > .title > .title-actions .start-debug-action-item,
.monaco-workbench .pane-header,
.monaco-workbench .part.panel.bottom,
.monaco-workbench .part.panel.bottom > .composite.title,
.monaco-workbench #terminal,
body {
    background: transparent !important;
}

.notebookOverlay.notebook-editor,
.cell-statusbar-container,
.margin-view-overlays,
.monaco-list-row:hover:not(.selected):not(.focused) {
    background-color: transparent !important;
}

.monaco-workbench .part.editor {
    background: var(--editor-bg) !important;
}

.monaco-workbench .part.editor .content,
.monaco-workbench .part.editor .editor-container,
.monaco-workbench .part.editor .monaco-editor,
.monaco-workbench .part.editor .monaco-editor-background,
.monaco-workbench .part.editor .editor-group-container > .tabs,
.monaco-workbench .part.editor .editor-group-container > .tabs .tab.active,
.monaco-workbench .part.editor .editor-group-container > .tabs .tab.selected {
    background: transparent !important;
}

.monaco-workbench .part.editor .editor-group-container > .tabs .tab {
    background-color: var(--semi-opaque-tertiary) !important;
}

.monaco-workbench .part.editor .editor-group-container > .tabs .tab:not(.active):not(.selected):hover {
    background: var(--semi-opaque) !important;
}

.monaco-workbench
    .part.editor
    .editor-group-container
    > .title
    .tabs-container
    .tab-label
    > .monaco-icon-label-container::after {
    background: transparent !important;
}

.monaco-workbench .part.editor .editor-widget {
    background: var(--semi-opaque) !important;
}

.monaco-workbench .part.editor .scroll-decoration {
    box-shadow: none !important;
}

.monaco-workbench .part > .title > .title-actions .start-debug-action-item {
    border-color: transparent !important;
}

.monaco-workbench .part.panel.bottom .composite.title {
    border-top-color: transparent !important;
}

.monaco-workbench .monaco-scrollable-element .monaco-tree-sticky-container,
.monaco-workbench .monaco-scrollable-element .monaco-tree-sticky-container .monaco-tree-sticky-row {
    background-color: var(--primary-bg) !important;
}

.monaco-editor .sticky-line-content {
    background-color: var(--primary-bg) !important;
}

/* .monaco-workbench
    .activitybar
    > .content
    :not(.monaco-menu)
    > .monaco-action-bar
    li:not(.checked)
    > .action-label.codicon,
.monaco-workbench
    .part.panel.bottom
    .composite.title
    .composite-bar
    .actions-container
    > .action-item:not(.checked)
    > .action-label {
    color: var(--semi-opaque-dark) !important;
}

.monaco-workbench
    .activitybar
    > .content
    :not(.monaco-menu)
    > .monaco-action-bar
    li:not(.checked)
    > .action-label:not(.codicon) {
    background-color: var(--semi-opaque-dark) !important;
}
*/

.monaco-workbench .panel.bottom .content,
.monaco-workbench .panel.bottom .monaco-list-row {
    color: var(--primary-bg) !important;
}

.monaco-workbench .panel.bottom .monaco-list-row.focused,
.monaco-workbench .panel.bottom .monaco-list-row.selected {
    color: var(--primary-bg) !important;
}

.monaco-workbench .panel.bottom .monaco-list-row:hover {
    color: rgb(150, 150, 150) !important;
}

.monaco-workbench .monaco-inputbox {
    border: var(--semi-opaque-light) solid 1px !important;
}

.monaco-workbench .part.panel.bottom > .content {
    background-color: var(--semi-opaque-dark) !important;
}

/* Box Shadow */
.monaco-workbench .part.editor,
.monaco-workbench .part.panel.bottom > .content,
.context-view.monaco-menu-container {
    box-shadow: var(--shadow-elevation) !important;
}

.monaco-workbench .part.panel.bottom > .content,
.monaco-workbench .part.statusbar {
    box-shadow: var(--shadow-inverted) !important;
}

/* Rounded Corners */
.monaco-workbench .part.editor,
.monaco-workbench .panel,
.monaco-list .monaco-list-row,
.monaco-workbench .sidebar,
.monaco-workbench .monaco-inputbox,
.monaco-workbench .monaco-tree-type-filter,
.monaco-editor .find-widget,
.monaco-workbench .part.panel.bottom > .content,
.statusbar-item-label {
    border-radius: var(--corner) !important;
}

.monaco-workbench .part.statusbar,
#status\.host,
#status\.host > .statusbar-item-label,
.monaco-sash.vertical:before,
.monaco-sash.horizontal:before,
.monaco-scrollable-element > .scrollbar > .slider,
.monaco-scrollable-element > canvas.decorationsOverviewRuler,
.xterm .xterm-scrollable-element > .scrollbar > .slider {
    border-radius: 100px !important;
}

/* Fullscreen */

.monaco-workbench.fullscreen {
    --primary-bg: #efefef !important;
    --editor-bg: var(--primary-bg) !important;

    background-color: var(--secondary-bg) !important;
}
